@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* EINDE CSS RESET */
/* BEGINRESPONSIVE OPZET */
* {
    box-sizing: border-box;
}
.row:after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    width: 100%;
	/* Ter demonstratie hebben kolommen een border, doe maar weg voor je eigen werk */
	border: solid 1px grey;
}

/* Voor MOBIEL */
@media only screen and (max-width: 600px) {
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
	
	#blueonmobile{
		background-color: blue;
		color:white;
		height: 50vh;
	}
	/* MOBIELE code binnen deze accolades van het @media stuk */
}

/* Voor DESKTOP */
@media only screen and (min-width: 601px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
	
	/* DESKTOP code binnen deze accolades van het @media stuk */
	
}





body {
    background-color: #232b2d;
    font-family: Helvetica;
    color: white;
}

#create-character {
    width: 9%;
    padding: 10px;
    margin: 10px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
    position: relative;
}

#dropdown {
  display: none;
  position: absolute;
  background-color: #88c9b8;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  color:#000;
  border: #71b5a3 5px solid;
  border-radius: 5px;
}

#create-character:hover #dropdown{
  display: block;
}

.character {
    width: 15%;
    background-color: #88c9b8;
    border: 1px solid #000;
    border-radius: 5px;
    text-align: center;
    margin-top: 5px;
    margin-right: 5px;
    float: left;
    color:black;
    border: #71b5a3 5px solid;
}

.deletebutton {
    margin: 5px;
    background-color: #dc143c;
    border-radius: 5px;
    color: white;
    border: #cd0f35 2px solid;
}

#submitCharacter {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

#nameInput, #healthInput, #attackInput, #classInput {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#imageInput {
    margin-top: 5px;
    margin-bottom: 20px;
}

#characters-list {
    margin-left: 10px;
}